<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="I'm mohd azkar, full stack web developer. This is my portfolio website which include all the details about myself.">
  <meta name="keywords"
    content="Mohd Azkar Portfolio, Azkaar, Azkar, azkar, askar, dazz azkar, full stack web developer, azkaar portfolio, md azkar,mohd azkar, Mohd Azkar, about dazz azkar, mohd azkar website, azkar website, azkar persnal website, mohd azkar persnal website">
  <meta name="author" content="Mohd Azkar">
  <title>Mohd Azkar</title>
  <link rel="icon" type="image/x-icon" href="/static/images/fav.png">
  <link rel="stylesheet" href="/static/css/style.css">
  <script defer src="/static/js/index.js"></script>
</head>

<body>
  <header class="header">
    <img src="/static/images/logo2.png" alt="MOHD AZKAR" class="logo" />
    <nav class="navbar">
      <ul class="navbar-lists">
        <li>
          <a class="navbar-link home-link" href="/" id="">Home</a>
        </li>
        <li>
          <a class="navbar-link about-link" href="#section-bio">About</a>
        </li>
        <li>
          <a class="navbar-link portfolio-link" href="#protects">Project</a>
        </li>
        <li>
          <a class="navbar-link service-link" href="#certification">certification</a>
        </li>
        <li>
          <a class="navbar-link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="mobile-nav-btn">
      <ion-icon name="menu-outline" class="menu mobile-nav-icon"></ion-icon>
      <ion-icon name="close-outline" class="close mobile-nav-icon"></ion-icon>


    </div>
  </header>


  <!-- -------------------------------
      HERO START HERE
    -------------------------------------->
  <main>
    <section class="section-hero section">
      <div class="container grid grid-two-column flex">
        <div class="section-hero-data">
          <P class="hero-top-data">This is me</P>
          <h1 class="hero-heading">Mohd Azkar</h1>
          <p class="hero-para">


            My name is Mohd Azkar and I am a <b>MERN stack developer</b>.I am persuing BCA from the Institute of
            Management Studies and this is the final year of my graduation. I am a very active person in the field of
            IT, I achieved many certification in coding competitions.
          </p>
          <div>
            <a href="#contact" class="btn hireme-btn">Hire me</a>
          </div>

        </div>

        <!-- HERO SECTION RIGHT SIDE -->
        <div class="section-hero-img"></div>
        <img src="/static/images/me.jpg" alt="img" class="hero-img"></img>

      </div>
    </section>
  </main>

  <!-- -------------------------------
      BIO DATA SECTION 
    -------------------------------------->
  <section class="section " id="section-bio">
    <div class="container grid grid-two-column">
      <div class="bio-img">
        <img src="/static/images/biodata.jpg" alt="bio-img" class="lazy-img" loading="lazy">
      </div>

      <!-- bio right side div -->
      <div class="bio-data">
        <h2 class="common-heading">My Bio-Data</h2>
        <p>I'm 21 years old, Currently I live in delhi and pursuing my study, together with I am also learning some new
          tehcnologies like AWS. </p>
        <br>
        <p>Apart from web development, I have hands on some other tehcnologies like GIT and FIGMA. I always try to learn
          new things and tehcnologies.</p>

        <div class="bio-data-stats">
          <div class="bio-stats">
            <h3>JavaScript</h3>
            <div class="bio-progress-bar" id="progress-bar-1">
              <span>95%</span>
            </div>
          </div>
          <div class="bio-stats">
            <h3>React.js</h3>
            <div class="bio-progress-bar" id="progress-bar-2">
              <span>90%</span>
            </div>
          </div>
          <div class="bio-stats">
            <h3>Node.js</h3>
            <div class="bio-progress-bar" id="progress-bar-3">
              <span>90%</span>
            </div>
          </div>
          <div class="bio-stats">
            <h3>Java</h3>
            <div class="bio-progress-bar" id="progress-bar-4">
              <span>85%</span>
            </div>
          </div>
          <div class="bio-stats">
            <h3>C++</h3>
            <div class="bio-progress-bar" id="progress-bar-5">
              <span>70%</span>
            </div>
          </div>
          <div class="bio-stats">
            <h3>DSA</h3>
            <div class="bio-progress-bar" id="progress-bar-6">
              <span>65%</span>
            </div>
          </div>

        </div>
        <div class="bio-data-btn">
          <a href="https://drive.google.com/file/d/1c4feIs0CbyONJ7Ds8aAaGUZuvmT3GhnY/view?usp=sharing" target="_blank"
            download="" class="btn">Download CV</a>
        </div>

      </div>


    </div>
  </section>

  <!-- portfolio section-->
  <section class="section section-portfolio" id="protects">
    <div class="container">
      <h2 class="common-heading">Project</h2>
      <p>These are some letest project made by me. You can check the source code of my these project.</p>
    </div>

    <div class="container grid grid-three-column portfolio-images">

      <div class="img-overlay p-btn--2">
        <img src="/static/images/chat.jpg" alt="myworks">

        <div class="overlay">
          <div class="overlay-title">
            <h3>ChatApp</h3>
          </div>
          <div class="overlay-btns">
            <a class=" overlay-btn " href="https://github.com/mazkar69/Talk2Live-MERN-" target="_blank">View Code</a>
            <a class=" overlay-btn" href="https://talk2live.herokuapp.com/" target="_blank">View Live</a>
          </div>
        </div>
      </div>

      <div class="img-overlay p-btn--2">
        <img src="/static/images/course1.jpg" alt="myworks">
        <div class="overlay">
          <div class="overlay-title">
            <h3>Free Course</h3>
          </div>
          <div class="overlay-btns">
            <a class=" overlay-btn " href="https://github.com/mazkar69/FreeCourse" target="_blank">View Code</a>
            <a class=" overlay-btn" href="http://coursesfree.herokuapp.com/" target="_blank">View Live</a>
          </div>
        </div>
        
      </div>
      
      <div class="img-overlay p-btn--2">
        <img src="/static/images/op2.jpg" alt="myworks">
        
        <div class="overlay">
          <div class="overlay-title">
            <h3>MERN Registration</h3>
          </div>
          <div class="overlay-btns">
            <a class=" overlay-btn " href="https://github.com/mazkar69/mern-registration" target="_blank">View Code</a>
            <a class=" overlay-btn" href="https://dazz-registration.herokuapp.com/signup" target="_blank">View Live</a>
          </div>
        </div>
        
      </div>
      
      <div class="img-overlay p-btn--2">
        <img src="/static/images/char-counter.jpg" alt="myworks">
        <div class="overlay">
          <div class="overlay-title">
            <h3>MERN News API</h3>
          </div>
          <div class="overlay-btns">
            <a class=" overlay-btn " href="#">View Code</a>
            <a class=" overlay-btn" href="https://dazz-newsweb.netlify.app/" target="_blank">View Live</a>
          </div>
        </div>

      </div>

      <div class="img-overlay p-btn--2">
        <img src="/static/images/music1.jpg" alt="myworks">
        <div class="overlay">
          <div class="overlay-title">
            <h3>Musix Player</h3>
          </div>
          <div class="overlay-btns">
            <a class=" overlay-btn " href="https://github.com/mazkar69/music-player" target="_blank">View Code</a>
            <a class=" overlay-btn" href="https://azr-musicplayer.netlify.app" target="_blank">View Live</a>
          </div>
        </div>
        
      </div>





    </div>
  </section>

  <!-- Counter section-->
  <section class="section section-work-data">
    <div class="container grid grid-four-column">
      <div>
        <h2 class="counter-numbers" data-number="50">0+</h2>
        <p>Project completed</p>
      </div>
      <div>
        <h2 class="counter-numbers" data-number="25">0+</h2>
        <p>Happy Client</p>
      </div>

      <div>
        <h2 class="counter-numbers" data-number="150">0+</h2>
        <p>Cup of coffee</p>
      </div>

      <div>
        <h2 class="counter-numbers" data-number="200">0+</h2>
        <p>Real professional</p>
      </div>
    </div>
    </div>

  </section>


  <!-- ------------------------------
    Services section
  ----------------------------------->
  <section class="section section-services" id="certification">
    <div class="container">
      <h2 class="common-heading">Achievement</h2>
      <datalist< /datalist>
        <p>
          These are some my learning certificate. Some I achieved in my collage and some from online learning platform.
        </p>

    </div>
    <!-- service offer card -->
    <div class="container grid grid-three-column">

      <div class="service-box">
        <img src="" alt="">
        <div class="certificate-info">
          <div class="certificate-img">
            <img src="/static/images/certi.jpg" alt="">
          </div>
          <div class="certificate-para">
            <p>
              This is IIT Bombay certificate for completion of C programming language quiz, which was conducted online in my collage.
            </p>
          </div>
        </div>
      </div>
      <div class="service-box">
        <img src="" alt="">
        <div class="certificate-info">
          <div class="certificate-img">
            <img src="/static/images/certi-2.jpg" alt="">
          </div>
          <div class="certificate-para">
            <p>
              I learned Mongodb online from udemy. Basic to advance in Mongo Query Language, Aggregation Pipelines and more. 
            </p>
          </div>
        </div>
      </div>
      <div class="service-box">
        <img src="" alt="">
        <div class="certificate-info">
          <div class="certificate-img">
            <img src="/static/images/certi-3.jpg" alt="">
          </div>
          <div class="certificate-para">
            <p>From this course I learned the machine automation work flow and how bots and automation machine are desiged to make work easier.</p>
          </div>
        </div>
      </div>
      <div class="service-box">
        <img src="" alt="">
        <div class="certificate-info">
          <div class="certificate-img">
            <img src="/static/images/certi-5.jpg" alt="">
          </div>
          <div class="certificate-para">
            <p>
              Deep into the concept of network, TCP/IP model ,Line coding, Switching Techniques, Networking device, Multiplexing Techniques.
            </p>
          </div>
        </div>
      </div>
      <div class="service-box">
        <img src="" alt="">
        <div class="certificate-info">
          <div class="certificate-img">
            <img src="/static/images/certi-4.jpg" alt="">
          </div>
          <div class="certificate-para">
            <p>After completing this course, I came to know the Concept of OOPs, Deep dive into STL, and Template.
            </p>
          </div>
        </div>
      </div>
      <div class="service-box">
        <img src="" alt="">
        <div class="certificate-info">
          <div class="certificate-img">
            <img src="/static/images/certi.jpg" alt="">
          </div>
          <div class="certificate-para">
            <p>
              This is IIT Bombay certificate for C programming language.
            </p>
          </div>
        </div>
      </div>


    </div>
  </section>


  <!-- Freelancer section start -->
  <section class="section section-freelancing">
    <div class="overlay"></div>
    <div class="container">
      <h2>
        I am <span>available</span> for Remote work
      </h2>
      <p>Hire me for remote work, I'm free for work from home.</p>
      <a href="#contact" class="btn">Hire me</a>
    </div>

  </section>

  <!-- Contact us form -->
  <section class="section section-contact" id="contact">
    <div class="container">
      <h2 class="common-heading">Contact Us</h2>
    </div>

    <div class="section section-contact-main">
      <form action="https://formspree.io/f/xayvzezb" method="POST">
        <div class="grid grid-two-column">

          <div>
            <label for="username"></label>
            <input type="text" name="username" id="username" placeholder="Username" required>
          </div>

          <div>
            <label for="email"></label>
            <input type="email" name="email" id="email" placeholder="Email" required autocomplete="off">
          </div>

        </div>
        <div>
          <label for="subject"></label>
          <input type="text" name="subject" id="subject" placeholder="Subject" required>
        </div>
        <div>
          <label for="textarea"></label>
          <textarea name="textarea" id="textarea" cols="30" rows="10" required></textarea>
        </div>
        <div>
          <input type="submit" name="submit" id="submit" value="Send" class="btn">
        </div>
      </form>

    </div>
  </section>

  <!-- Our footer section -->

  <footer class="section-footer section footer">
    <div class=" container grid grid-four-column">
      <div class="f-about">
        <h3>About</h3>
        <p>I'm a full stack MERN developer.</p>
      </div>
      <div class="f-links">
        <h3>Links</h3>
        <ul>
          <li><a href="/"><span>
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </span>
              Home</a>
          </li>
          <li><a href="#section-bio"><span>
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </span>
              About</a>
          </li>

          <li><a href="#protects"><span>
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </span>
              Project</a>
          </li>
          <li><a href="#certification"><span>
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </span>
          Certification</a>
      </li>
          <li><a href="#contact"><span>
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </span>
              Contact</a>
          </li>

        </ul>
      </div>
      <div class="f-services">
        <h3>Projects</h3>
        <ul>
          <li><a href="https://talk2live.herokuapp.com/" target="_blank"><span>
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </span>
              ChatApp</a>
          </li>
          <li><a href="http://coursesfree.herokuapp.com/" target="_blank"><span>
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </span>
              FreeCourse</a>
          </li>
          <li><a href="/blog" target="_blank"><span>
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </span>
              Blog
              </a>
          </li>
          <li><a href="https://azr-musicplayer.netlify.app"><span>
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </span>
              Music Player</a>
          </li>

        </ul>
      </div>
      <!-- End -->
      <div class="f-address">
        <h3>Have a Question?</h3>
        <address>
          <div>
            <p><span>
                <ion-icon name="location-outline"></ion-icon>
              </span>Delhi, India</p>
          </div>
          <div>
            <p><span>
                <ion-icon name="call-outline"></ion-icon>
              </span><a href="tel:+91884375826">+91 8840375826</a></p>
          </div>
          <div>
            <p><span>
                <ion-icon name="mail-outline"></ion-icon>
              </span><a href="mailto:mohdazkar@outlook.com">mohdazkar@outlook.com</a></p>
          </div>
        </address>
      </div>

    </div>
    <div class="container">
      <div class="f-social-icons">
        <a href="https://www.instagram.com/md.azkaar/" target="_blank">
          <ion-icon name="logo-instagram" class="icon"></ion-icon>
        </a>
        <a href="https://github.com/mazkar69" target="_blank">
          <ion-icon name="logo-github" class="icon"></ion-icon>
        </a>
        <a href="https://www.linkedin.com/in/mohd-azkar-6575051bb/" target="_blank">
          <ion-icon name="logo-linkedin" class="icon"></ion-icon>
        </a>
      </div>
      <div class="f-credit">
        <p>
          Copyright &copy; all rights reserved. This website is made by AzKaR</p>
        </p>
      </div>
    </div>

  </footer>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>